.testimony {
    align-items: center;
    background: rgba(196, 25, 25, 0.03);
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}